@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --clr-primary: #1c1e53;
  --clr-primary-opaque:rgba(28, 30, 83, 0.6);
  --clr-secondary: #eef4fa;
  --clr-text: #bbbbcb;
  --clr-white: #fff;
  --clr-darkblue: #2405f2;
  --clr-black: #000;
  --clr-l-green: #51cb9c;
  --clr-gray: #828282;
  --fs-100: clamp(0.69rem, calc(0.65rem + 0.19vw), 0.80rem);
  --fs-200: clamp(0.78rem, calc(0.7rem + 0.39vw), 1rem);
  --fs-300: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --fs-400: clamp(0.98rem, calc(0.78rem + 1.01vw), 1.56rem);
  --fs-500: clamp(1.11rem, calc(0.81rem + 1.47vw), 1.95rem);
  --fs-600: clamp(1.25rem, calc(0.83rem + 2.08vw), 2.44rem);
  --fs-700: clamp(1.4rem, calc(0.83rem + 2.87vw), 3.05rem);
  --fs-800: clamp(1.58rem, calc(0.8rem + 3.89vw), 3.82rem);
  --lh-custom: clamp(2.58rem, calc(0.8rem + 4.89vw), 4.82rem);
}

body {
  font-family: "Manrope", sans-serif;
  color: white;
}

.grid-transition {
  transition: grid-template-rows 500ms;
}